<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsc.mybatisplus.mapper.UserMapper">
  <select id="selectAll" resultType="com.jsc.mybatisplus.entity.User">
    <!--     参数的注解是固定的 ew 就是WRAPPER的值-->
    select *
    from user ${ew.customSqlSegment}
  </select>

  <select id="selectUserPage" resultType="com.jsc.mybatisplus.entity.User">
    <!--     参数的注解是固定的 ew 就是WRAPPER的值-->
    <!--    没有什么改变,但是可以自己多表联查-->
    select *
    from user ${ew.customSqlSegment}
  </select>
</mapper>